
.gallery{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
     box-sizing: border-box;  
     gap: 2rem; 
}

    .bgimg {
        background-image: url('./images/bg8.jpg'); /* Make sure the path is correct */
        background-size: cover;           /* Ensures the image covers the entire div */
        background-position: center;      /* Centers the image */
        background-repeat: no-repeat;     /* Prevents the image from repeating */
        width: 100%;                      /* Full width */
        min-height: 100vh;                /* Ensures the div takes at least full screen height */
        display: flex;                    /* To center content vertically if needed */
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 20px 0;                  /* Adds some padding */
      }
      
      @media (max-width: 768px) {
        .event{
            font-size: 4rem; /* Font size for mobile */
         }
    }

/* .singlpic{
    padding: 2%;
   
} */

/* Initial state */
/* .gallery{
    animation-name: zoomIn;
    animation-duration: 1.5s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards; /* Keeps the end state after animation 
    opacity: 0; /* Initial state for fade-in effect\
} */

/* Keyframes for zoom-in animation */
/* @keyframes zoomIn {
    0% {
        transform: scale(0.8); /* Start slightly zoomed out 
        opacity: 0; /* Start fully transparent 
    }
    100% {
        transform: scale(1); /* End at normal size 
        opacity: 1; /* Fully visible
    }
} */


/* .gallery{
    
        opacity: 0;
        transform: translateY(30px); /* Adjust based on the effect you want 
        transition: opacity 0.6s ease-out, transform 0.6s ease-out;
    }
    
    /* Visible state 
    .gallery{
        opacity: 1;
        transform: translateY(0);
    } */

